<div class='body'>
  <%= form_for @habit do |f| %>
    <%= f.label :name, 'Habit' %>
    <%= f.text_field :name %><br />

    <%= f.label :value, 'Value (-5 to 5)'%>
    <%= f.text_field :value %><br />

    <%= f.submit %>
  <% end %>
</div>
